# Miljøfiler
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-error.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
build/
.next/
out/

# Logs
logs/
*.log
